In [48]:
#import Python packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import pyplot

In [49]:
#read .csv file, first take a look at 2015-2016 school year data for schools with greater than 500 students
nyckids = pd.read_csv('NYC Educational Data.csv',delimiter=',')
nyc2015 = nyckids.loc[nyckids['Year'] == '2015-16']
nyc2015 = nyc2015.loc[nyckids['Total Enrollment'] > '500']
nyc2015 = nyc2015.set_index('Year')
nyc2015.head(10)

,DBN,School Name,Total Enrollment,Grade PK,Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,...,# Other,% Other,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty
Year,,,,,,,,,,,,,,,,,,,,,
2015-16,01M020,P.S. 020 Anna Silver,581,46,82,90,98,92,81,92,...,21,3.6%,24,4.1%,122,21.0%,88,15.1%,581,100.0%
2015-16,01M184,P.S. 184m Shuang Wen,663,36,63,73,77,61,63,77,...,34,5.1%,57,8.6%,106,16.0%,115,17.3%,464,70.0%
2015-16,01M450,East Side Community School,677,0,0,0,0,0,0,0,...,23,3.4%,81,12.0%,180,26.6%,6,0.9%,467,69.0%
2015-16,01M515,Lower East Side Preparatory High School,564,0,0,0,0,0,0,0,...,6,1.1%,8,1.4%,29,5.1%,354,62.8%,564,100.0%
2015-16,01M696,Bard High School Early College,535,0,0,0,0,0,0,0,...,11,2.1%,228,42.6%,5,0.9%,0,0.0%,210,39.3%
2015-16,02M002,P.S. 002 Meyer London,672,21,86,84,107,139,117,118,...,1,0.1%,8,1.2%,124,18.5%,241,35.9%,648,96.4%
2015-16,02M003,P.S. 003 Charrette School,789,53,129,108,126,118,156,99,...,41,5.2%,553,70.1%,141,17.9%,34,4.3%,130,16.5%
2015-16,02M006,P.S. 006 Lillie D. Blake,700,0,105,113,120,124,124,114,...,18,2.6%,526,75.1%,120,17.1%,12,1.7%,43,6.1%
2015-16,02M011,P.S. 011 William T. Harris,921,18,146,133,161,186,148,129,...,39,4.2%,452,49.1%,122,13.2%,32,3.5%,255,27.7%
2015-16,02M033,P.S. 033 Chelsea Prep,639,30,90,107,111,94,103,104,...,43,6.7%,169,26.4%,72,11.3%,26,4.1%,295,46.2%

In [50]:
#convert '%' sign to a string 
nyc2015['% Poverty'] = nyc2015['% Poverty'].str.replace('%','').astype(float)
nyc2015['% White'] = nyc2015['% White'].str.replace('%','').astype(float)
nyc2015.head(5)

,DBN,School Name,Total Enrollment,Grade PK,Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,...,# Other,% Other,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty
Year,,,,,,,,,,,,,,,,,,,,,
2015-16,01M020,P.S. 020 Anna Silver,581,46,82,90,98,92,81,92,...,21,3.6%,24,4.1,122,21.0%,88,15.1%,581,100.0
2015-16,01M184,P.S. 184m Shuang Wen,663,36,63,73,77,61,63,77,...,34,5.1%,57,8.6,106,16.0%,115,17.3%,464,70.0
2015-16,01M450,East Side Community School,677,0,0,0,0,0,0,0,...,23,3.4%,81,12.0,180,26.6%,6,0.9%,467,69.0
2015-16,01M515,Lower East Side Preparatory High School,564,0,0,0,0,0,0,0,...,6,1.1%,8,1.4,29,5.1%,354,62.8%,564,100.0
2015-16,01M696,Bard High School Early College,535,0,0,0,0,0,0,0,...,11,2.1%,228,42.6,5,0.9%,0,0.0%,210,39.3

In [51]:
#sort all the schools by % Poverty
sorted = nyc2015.sort_values(by=['% Poverty'])
sorted.head(5)

,DBN,School Name,Total Enrollment,Grade PK,Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,...,# Other,% Other,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty
Year,,,,,,,,,,,,,,,,,,,,,
2015-16,02M234,P.S. 234 Independence School,704,0,130,133,114,120,100,107,...,70,9.9%,491,69.7,121,17.2%,9,1.3%,23,3.3
2015-16,02M041,P.S. 041 Greenwich Village,721,36,121,91,131,115,118,109,...,75,10.4%,498,69.1,114,15.8%,14,1.9%,28,3.9
2015-16,02M006,P.S. 006 Lillie D. Blake,700,0,105,113,120,124,124,114,...,18,2.6%,526,75.1,120,17.1%,12,1.7%,43,6.1
2015-16,02M276,Battery Park City School,872,0,100,94,96,113,106,114,...,69,7.9%,491,56.3,136,15.6%,19,2.2%,58,6.7
2015-16,03M199,P.S. 199 Jessie Isador Straus,903,0,152,176,158,148,136,133,...,65,7.2%,572,63.3,129,14.3%,26,2.9%,63,7.0

In [52]:
#Sort schools by % Poverty, all schools below 20%
bottom20 = sorted.loc[sorted['% Poverty'] < 20.0]
bottom20.head(5)

,DBN,School Name,Total Enrollment,Grade PK,Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,...,# Other,% Other,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty
Year,,,,,,,,,,,,,,,,,,,,,
2015-16,02M234,P.S. 234 Independence School,704,0,130,133,114,120,100,107,...,70,9.9%,491,69.7,121,17.2%,9,1.3%,23,3.3
2015-16,02M041,P.S. 041 Greenwich Village,721,36,121,91,131,115,118,109,...,75,10.4%,498,69.1,114,15.8%,14,1.9%,28,3.9
2015-16,02M006,P.S. 006 Lillie D. Blake,700,0,105,113,120,124,124,114,...,18,2.6%,526,75.1,120,17.1%,12,1.7%,43,6.1
2015-16,02M276,Battery Park City School,872,0,100,94,96,113,106,114,...,69,7.9%,491,56.3,136,15.6%,19,2.2%,58,6.7
2015-16,03M199,P.S. 199 Jessie Isador Straus,903,0,152,176,158,148,136,133,...,65,7.2%,572,63.3,129,14.3%,26,2.9%,63,7.0

In [53]:
#All schools with above 80% poverty, ascending order
top20 = sorted.loc[sorted['% Poverty'] > 80.0]
top20.head(5)

,DBN,School Name,Total Enrollment,Grade PK,Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,...,# Other,% Other,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty
Year,,,,,,,,,,,,,,,,,,,,,
2015-16,28Q072,Catherine & Count Basie Middle School 72,605,0,0,0,0,0,0,0,...,23,3.8%,3,0.5,154,25.5%,36,6.0%,486,80.3
2015-16,20K127,P.S. 127 Mckinley Park,529,0,105,95,70,84,95,80,...,2,0.4%,242,45.7,94,17.8%,159,30.1%,426,80.5
2015-16,84X718,Bronx Charter School for Better Learning,517,18,100,101,92,74,66,66,...,6,1.2%,7,1.4,44,8.5%,12,2.3%,416,80.5
2015-16,16K393,Frederick Douglass Academy IV Secondary School,77,0,0,0,0,0,0,0,...,0,0.0%,0,0.0,27,35.1%,0,0.0%,62,80.5
2015-16,02M580,Richard R. Green High School of Teaching,532,0,0,0,0,0,0,0,...,9,1.7%,12,2.3,114,21.4%,25,4.7%,428,80.5

In [54]:
#mean percentage of students identified as White in the bottom 20% and top 20% schools
meanpctwhite_bottom = bottom20['% White'].mean()
meanpctwhite_top = top20['% White'].mean()
print (meanpctwhite_bottom)
print (meanpctwhite_top)

64.52608695652175
5.780051813471498

In [55]:
#printing out the original .csv file again
nyckids.head(11)

,DBN,School Name,Year,Total Enrollment,Grade PK,Grade K,Grade 1,Grade 2,Grade 3,Grade 4,...,# Other,% Other,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty
0,01M015,P.S. 015 Roberto Clemente,2011-12,189,13,31,35,28,25,28,...,1,0.5%,4,2.1%,52,27.5%,22,11.6%,189,100.0%
1,01M015,P.S. 015 Roberto Clemente,2012-13,177,18,38,26,22,26,23,...,3,1.7%,3,1.7%,55,31.1%,21,11.9%,177,100.0%
2,01M015,P.S. 015 Roberto Clemente,2013-14,190,26,39,39,21,16,26,...,2,1.1%,3,1.6%,65,34.2%,19,10.0%,190,100.0%
3,01M015,P.S. 015 Roberto Clemente,2014-15,183,18,27,47,31,19,17,...,1,0.5%,2,1.1%,64,35.0%,17,9.3%,183,100.0%
4,01M015,P.S. 015 Roberto Clemente,2015-16,176,14,32,33,39,23,17,...,3,1.7%,2,1.1%,57,32.4%,16,9.1%,176,100.0%
5,01M019,P.S. 019 Asher Levy,2011-12,328,32,46,52,54,52,46,...,10,3.0%,28,8.5%,66,20.1%,33,10.1%,328,100.0%
6,01M019,P.S. 019 Asher Levy,2012-13,302,31,39,46,46,48,50,...,6,2.0%,33,10.9%,79,26.2%,26,8.6%,228,75.5%
7,01M019,P.S. 019 Asher Levy,2013-14,285,36,39,38,36,45,47,...,10,3.5%,30,10.5%,89,31.2%,25,8.8%,213,74.7%
8,01M019,P.S. 019 Asher Levy,2014-15,270,30,44,40,39,35,40,...,8,3.0%,27,10.0%,82,30.4%,18,6.7%,200,74.1%
9,01M019,P.S. 019 Asher Levy,2015-16,270,21,47,43,41,43,35,...,3,1.1%,16,5.9%,80,29.6%,13,4.8%,217,80.4%
10,01M020,P.S. 020 Anna Silver,2011-12,626,52,102,121,87,88,85,...,8,1.3%,16,2.6%,106,16.9%,128,20.4%,626,100.0%

In [56]:
#replacing '%' sign into string and commas for the entire table
nyckids['% Poverty'] = nyckids['% Poverty'].str.replace('%','').astype(float)
nyckids['# Poverty'] = nyckids['# Poverty'].str.replace(',','').astype(float)
nyckids['% White'] = nyckids['% White'].str.replace('%','').astype(float)
nyckids['# White'] = nyckids['# White'].str.replace(',','').astype(float)
nyckids['% English Language Learners'] = nyckids['% English Language Learners'].str.replace('%','').astype(float)
nyckids['# English Language Learners'] = nyckids['# English Language Learners'].str.replace(',','').astype(float)
nyckids = nyckids[['DBN','Year','School Name','# White','% White','# Poverty','% Poverty','% English Language Learners','# English Language Learners']]
nyckids.head(10)

,DBN,Year,School Name,# White,% White,# Poverty,% Poverty,% English Language Learners,# English Language Learners
0,01M015,2011-12,P.S. 015 Roberto Clemente,4.0,2.1,189.0,100.0,11.6,22.0
1,01M015,2012-13,P.S. 015 Roberto Clemente,3.0,1.7,177.0,100.0,11.9,21.0
2,01M015,2013-14,P.S. 015 Roberto Clemente,3.0,1.6,190.0,100.0,10.0,19.0
3,01M015,2014-15,P.S. 015 Roberto Clemente,2.0,1.1,183.0,100.0,9.3,17.0
4,01M015,2015-16,P.S. 015 Roberto Clemente,2.0,1.1,176.0,100.0,9.1,16.0
5,01M019,2011-12,P.S. 019 Asher Levy,28.0,8.5,328.0,100.0,10.1,33.0
6,01M019,2012-13,P.S. 019 Asher Levy,33.0,10.9,228.0,75.5,8.6,26.0
7,01M019,2013-14,P.S. 019 Asher Levy,30.0,10.5,213.0,74.7,8.8,25.0
8,01M019,2014-15,P.S. 019 Asher Levy,27.0,10.0,200.0,74.1,6.7,18.0
9,01M019,2015-16,P.S. 019 Asher Levy,16.0,5.9,217.0,80.4,4.8,13.0

In [62]:
#in order to calculate the change in poverty throughout time, have to first create empty Pandas df with the school name and change in poverty cols
#then empty arrays with the % Pov, Pov Num, ELL Num, etc in order to fill fill them with the values for each year, per school
name = 'P.S. 015 Roberto Clemente'
final_table = pd.DataFrame(columns = ['School Name','% Poverty Delta'])
l = []
pov_num = []
ell_num = []
ell_pct = []
white_num = []
white_pct = []

#for each school
for index, row in nyckids.iterrows():
    #if the school name is the same, append values for each column header
    if name == row['School Name']:
        l.append(row['% Poverty'])
        pov_num.append(row['# Poverty'])
        ell_num.append(row['# English Language Learners'])
        ell_pct.append(row['% English Language Learners'])
        white_num.append(row['# White'])
        white_pct.append(row['% White'])
    else:
        #if there's a new school name, calculate the delta of the array by subtracting the last value with the first, append to the final table
        delta = l[-1] - l[0]
        pov_delta = pov_num[-1] - pov_num[0]
        ellnum_delta = ell_num[-1] - ell_num[0]
        ellpct_delta = ell_pct[-1] - ell_num[0]
        whitenum_delta = white_num[-1] - white_num[0]
        whitepct_delta = white_pct[-1] - white_pct[0]
        final_table = final_table.append({'School Name':nyckids.loc[index-1,'School Name'],'% White Delta':whitepct_delta,'# White Delta':whitenum_delta,'% Poverty Delta':delta,'# Poverty Delta':pov_delta,'% ELL Delta':ellpct_delta,'# ELL Delta':ellnum_delta}, ignore_index=True)
        l = []
        pov_num = []
        ell_num = []
        ell_pct = []
        white_num = []
        white_pct = []
        l.append(row['% Poverty'])
        pov_num.append(row['# Poverty'])
        ell_num.append(row['# English Language Learners'])
        ell_pct.append(row['% English Language Learners'])
        white_num.append(row['# White'])
        white_pct.append(row['% White'])
        name = row['School Name']
            
final_table.head(10) 

#nyckids_delta  = pd.concat([a,b],axis=1).dropna()
#nyckids_delta

,School Name,% Poverty Delta,# ELL Delta,# Poverty Delta,# White Delta,% ELL Delta,% White Delta
0,P.S. 015 Roberto Clemente,0.0,-6.0,-13.0,-2.0,-12.9,-1.0
1,P.S. 019 Asher Levy,-19.6,-20.0,-111.0,-12.0,-28.2,-2.6
2,P.S. 020 Anna Silver,0.0,-40.0,-45.0,8.0,-112.9,1.5
3,P.S. 034 Franklin D. Roosevelt,-2.6,-5.0,-17.0,6.0,-26.6,1.6
4,The STAR Academy - P.S.63,-3.9,0.0,16.0,6.0,-3.0,1.8
5,P.S. 064 Robert Simon,5.6,-14.0,-43.0,-5.0,-23.2,0.0
6,P.S. 110 Florence Nightingale,-2.7,-26.0,-36.0,-18.0,-29.7,-1.3
7,P.S. 134 Henrietta Szold,4.9,-30.0,-79.0,-1.0,-49.2,0.5
8,P.S. 137 John L. Bernstein,2.2,-21.0,-67.0,-2.0,-25.6,0.2
9,P.S. 140 Nathan Straus,0.0,-6.0,-31.0,6.0,-45.6,1.8

In [64]:
top10_sorted = final_table.sort_values(by=['% Poverty Delta']).head(10)
top10_sorted

,School Name,% Poverty Delta,# ELL Delta,# Poverty Delta,# White Delta,% ELL Delta,% White Delta
179,The Anderson School,-90.2,-1.0,-514.0,-41.0,-1.8,-6.3
125,P.S. 527 - East Side School for Social Action,-89.6,2.0,-23.0,112.0,0.9,7.8
186,P.S. 452,-87.4,6.0,-83.0,129.0,1.2,-0.2
170,M.S. M245 The Computer School,-76.5,5.0,-307.0,25.0,-4.8,5.8
1301,P.S. 047 Chris Galas,-67.7,1.0,-185.0,-39.0,-0.6,-3.6
745,P.S. 110 The Monitor,-65.5,-8.0,-204.0,101.0,-43.7,12.3
1681,Pathways to Graduation,-59.6,-516.0,-2011.0,81.0,-1091.5,2.1
1014,P.S. 185 Walter Kassenbrock,-59.6,-37.0,-519.0,-126.0,-77.8,-4.5
58,J.H.S. 167 Robert F. Wagner,-56.2,-12.0,-655.0,81.0,-60.1,3.1
1114,P.S. 277 Gerritsen Beach,-54.1,16.0,-268.0,-34.0,-3.3,-2.5

In [65]:
bottom10_sorted = final_table.sort_values(by=['% Poverty Delta']).tail(10)